*{
    margin:0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.navbar {
    background-color: rgb(139, 185, 47);
    padding: 10px;
}

.container {
    padding: 10px;
    display: flex;
    gap: 30px;
}

.movie-container {
    padding: 15px;
    width: 25%;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: 30px;
}

.movie-container h2 {
    color: rgb(139, 185, 47);
}

.movie-container button {
    background-color:rgb(139, 185, 47);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
}

.add-button {
    background-color:rgb(139, 185, 47);
    color: black;
    border-radius: 100%;
    padding: 20px 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popup-overlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-box {
    background-color: rgb(139, 185, 47);
    width: 40%;
    padding: 48px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box input {
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-box textarea {
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
}

.popup-box input::placeholder,
.popup-box textarea::placeholder {
    color: black;
}

.popup-box button {
    background-color: black;
    padding: 10px 20px;
    border: none;
    color: white;
    margin: 5px;
}